.side-navbar {
    height: 100%;
    width:25%;
    position:fixed;
    max-width: 25%;
  }
  .nav-link {
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color: #ffffff26;
    width: 100%;
    font-size: 32px;
  }

  .mx-2 {
    font-family: "Redressed";
    color:#F5F5F5;
    font-size: 14px;
  }

  .imagetext{
      color:#4e0a0a;
      padding-left: 5vw;
}
  
  #home,#experience,#contact {
    height: 100vh;
    font-family: "Redressed";
    color:#071725;
    padding-left: 5vw;
  }
  #aboutme {
    height: 200vh;
    font-family: "Redressed";
    color:#071725;
    padding-left: 5vw;

  }
.intro1,.intro3,.intro4, .intro5, .intro6 {
    color:#000000;
    font-family: "Roboto Condensed";

  }
  .intro5{
    font-weight: bolder;

  }
  .intro2 {
    color:#071725;
    font-family: "Roboto Condensed";
    font-size: larger;
    font-weight: bolder;

  }
  .container {
    margin: 0;
    padding: 0;
  }
  div.row {
    --bs-gutter-x:0;
  }
 