.side-navbar {
    width: 25%;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: #100901;
    transition: 0.5s;
  }
  .nav-link {
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color: #ffffff26;
    width: 100%;
    font-size: 32px;
  }
  
  .my-container {
    transition: 0.4s;
  }
  
  .active-nav {
    margin-left: 0;
  }
  
  /* for main section */
  .active-cont {
    margin-left: 180px;
  }
  
  #menu-btn {
    background-color: #100901;
    color: #fff;
    margin-left: -63px;

  }
  .mx-2 {
    font-family: "Redressed";
    color:#F5F5F5;
    font-size: 14px;
  }
 #pic{ 
	background-image: url("placeholder.jpg"); 
	background-size: cover; 
	height: 50vh; 

} 
#imagetext{
  position: relative; 
	top:75%; 
	width: 50%; 
  color:#F5F5F5;
}
  
  #home,#aboutme,#experience,#contact {
    height: 100vh;
    font-family: "Redressed";
    color:#071725;
  }